In [5]:
import numpy as np
import pandas as pd
from IPython.display import display
customers_df=pd.read_csv('customers.csv')
Items_df=pd.read_csv('Items.csv')
orders_df=pd.read_csv('orders.csv')
order_item_df=pd.read_csv('customers.csv')

In [17]:
#1. What is the average price of an item?
display("average price:",Items_df['item_price'].mean())

'average price:'

2222.0825999999997

In [93]:
#2.
merded_orders_Items_order=orders_df.merge(order_item_df,'inner')
groups_sum=merded_orders_Items_order.groupby('customer_id')['quantity'].sum().sort_values(ascending=False)

max_customer_id = groups_sum.index[0]
max_customer=customers_df[customers_df['id']==max_customer_id]
display("the customer with most items is:",max_customer)

'the customer with most items is:'

,id,first_name,last_name,gender,age,nationallity,joining_date,phone_number,email
137,138,Ellary,Ledner,NaN,63.0,Peru,NaN,343-500-4046,eledner3t@latimes.com